#root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin: 1rem;
}

#next-button {
  margin-top: 0.5rem;
}

.container {
  display: flex;
  min-width: 950px;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 max(85%, 750px);
}

.banned-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 200px;
  padding: 1rem;
  gap: 10px;
  background-color: rgba(179, 6, 6, 0.432);
  border-left: 1px solid black;
}

.banned-list > button {
  width: max(55%, 100px);
  text-align: center;
}

.display-card {
  margin: auto;
  width: max(575px, 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 70%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.attribute-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  background-color: orange;
}